[submodule "submodules/pewmocksite"]
	path = submodules/pewmocksite
	url = https://www.github.com/pewtrusts/pewmocksite.git
[submodule "submodules/griffin-v5"]
	path = submodules/griffin-v5
	url = https://github.com/pewtrusts/newGriffin.git
	branch = v5
