$pew_blue: #296EC3;
$dark_gray: #333;
$blue: #229DC6;
$teal: #5AC7BE;
$green: #6d9953;
$a11y: #767676;  
$orange: #FF7F49;
$red: #D85555;
$pink: #e67cae;
$gray: #b0b0b0;
$light_gray: #e1e1e1;
$lightest_gray: #f0f0f0;
$light_blue: #ebf4ff;

$pew_blue_tint: #80a9db;
$gray_tint: #949292;
$orange_tint: #f9a983;
$blue_tint: #82d3ea;
$teal_tint: #5ac7be;
$medium_gray: #727171;

$dark_blue: #153164;

$desaturated_blue: lighten(desaturate($dark_blue, 20%), 20%)